@model IEnumerable<ExperisPrueba.Models.Candidatos>

@{
    ViewBag.Title = "Candidatos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Candidatos para agendar entrevistas</h2>

<div>
    @ViewBag.Mensaje
</div>

@Html.ActionLink("Consulta Entrevistas", "Consulta") 

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebSite)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebSite)
            </td>
            <td>
                @Html.ActionLink("Agendar entrevista", "Create", new { id = item.id })
            </td>
        </tr>
    }

</table>
